/.output/
/.vscode/
/Carbon.Cryptography/*.md
/Carbon.Cryptography/LICENSE
/Carbon.Cryptography/Modules/
/Carbon.Cryptography/NOTICE
/PSModules/
/Tests/.password
/Tests/PASSWORD
/Tests/private.pfx
/Tests/public.cer
output