/.output/
/PSModules/
/.vscode/
/Carbon.Cryptography/Carbon.*/
/Carbon.Cryptography/*.md
/Carbon.Cryptography/LICENSE
/Carbon.Cryptography/NOTICE
/Tests/.password
/Tests/PASSWORD
/Tests/private.pfx
/Tests/public.cer
output